.nav{
    height: 90px;
    width: 100%;
    background-color: rgb(92, 0, 128);
    display: flex;
    align-items: center;
}

.navbar-brand{
    margin-left: 1rem;
}


.nav-item{
    margin-left: 2rem;
   
}
.nav-link{
    color: aliceblue;
}

.nav-link:hover{
    color: chartreuse;
}

.nav-item .log{
    /* padding-left: 1rem; */
    text-decoration: none;

}