/* .container {
    width: 100%; Adjust width as needed */
    /* margin: 0 auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    minHeight: "400px";
    color: "green";
  } */
  
  /* .list-group-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  } */