/* .header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .nav-link {
    color: #333;
    font-weight: 500;
  }
  
  .nav-item.active .nav-link {
    font-weight: bold;
  } */